*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
  padding: 0;
  margin: 0;
}

.nav-container{
  border-bottom: 1px solid #b6dde7;
  background-color: white;

}

@media Screen and (max-width:992px) {
  .nav-container,.nav2container{
  display: none; 
  }
}

#bnav{
  display: none;
}

@media Screen and (max-width:992px) {
 #bnav{
  display: block;
 }
  
}

.topnav{
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.topchild{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.topchild img{
  margin-right: 10px;
}

.topchild p{
  margin: 0;
  color: rgb(114, 114, 114);
}
.topchild span{
  color: rgb(196, 196, 196);
}

/* the styling of the second nav satrts here */

.nav2container{
  font-size: 14px;
  background-color: rgb(255, 106, 0);
  padding: 0px;
  margin: 0px;
  /* background-color: white; */
  /* position:sticky; */
 
}
.nav2{
  display: flex;
  max-width: 1100px;
  margin: 0px auto;
  align-items: center;
  padding: 5px 0px;

}

.nav2list{
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav2list li {
  position: relative;
}

.nav2list li a{
  color:rgb(78, 78, 78);
  text-decoration: none;
  color: white;
padding: 15px;
}

.drop-container{
  display: none;
  box-shadow: 0px 7px 30px -20px;
}

.dropdowne{
  position: absolute;
  background-color: white;
  z-index: 999;
  top: 35px;
  list-style-type: none;
  animation: drop .5s linear ;
  border-radius: 5px;
} 

@keyframes drop{
  0%{
    margin-top: 30px;
  }
  25%{
    margin-top: 15px;
  }
  50%{
    margin-top: 0px;
  }
}

.dropdowne ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.dropdowne li{
  padding: 0px;
  width: 200px;
}

.dropdowne li a{
  color: black;
  padding: 10px 15px;
  display: block;
border-bottom: 1px solid #f1f1f1;

}

.dropdowne li a:hover{
  background-color: #d2e1f5;
}

.enroll{
  margin-left: auto;
}

.nav2list li:hover .drop-container{
  display: block;
}

.about{
  position: absolute;
  background-color: white;
  /* left: -30px; */
  display: flex;
  border-top: 2px solid white;
  border-radius: 10px;
  top: 33px;
  animation: drop .5s linear ;
  display: none;
  box-shadow: 0px 7px 30px -20px;
  padding: 20px;
  z-index: 999;
}

@keyframes drop{
  0%{
    margin-top: 30px;
  }
  25%{
    margin-top: 15px;
  }
  50%{
    margin-top: 0px;
  }
}

.about-con{
  display: flex;
}

.ab-left{
  width: 300px;
  padding: 20px;
}


.ab-left h1{
font-weight: lighter;
font-size: 24px;
}

.pee{
  color: #c0c0c0;
  margin-top: 30px;
}

#learn-more {
  color:orange ;
}

.ab-right{
width: 700px;
}

.ab-right img{
  width: 100%;
  border-radius: 10px;
}


.nav2list li:hover .about{
  display: block;
}

.enroll button{
  border: none;
  padding: 10px 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

.enroll button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.carousels{
  margin-left:200px ;
  margin-right:200px ;
background-color: white;
  border: 1px solid #cecece;
}

@media screen and (max-width:994px){
  .carousels{
    margin:0px 150px;
  }

}

@media screen and (max-width:800px){
  .carousels{
    margin:0px 100px;
  }

}

@media screen and (max-width:769px){
  .carousels{
    margin:0px 0px;
  }
}

@media screen and (max-width:780px){
  .carousels{
    margin:0px;
  }
}



.directions{
  display: flex;
justify-content: flex-end;
font-size: 11px;
padding: 10px;
}

.directions a{
  color: black;
  padding: 5px;
  text-decoration: none;
}



.parts{
display: flex;
padding:0px 20px;
gap: 20px;
}

@media screen and (max-width:992px){
  .parts{
  display: block;
  }
}

.news h1{
  color:#FF6A13;
  font-size: 30px;
  padding:0px 20px;

}

.right{
width: 95%;
border-right: 1px solid #f1f1f1;
}

@media screen and (max-width:992px){
  .right{
width:100%;
  }
}

.right h4{
  font-size: 17px;
}

.write{
  padding:20px 0px;
  font-size: 13px;
}

.write button{
  border:none;
  background-color: #FF6A13;
  color: white;
  margin: 10px 0px;
  border-radius: 7px;
  padding: 4px;
}


.heading h1{
  font-size: 18px;
  font-weight:normal;

}



/* the right parts begins here */

.left{
padding: 0px 10px;
width: 37%;
box-shadow: 0px 7px 30px -20px;
height: fit-content;
}

@media screen and (max-width:992px){
  .left{
width:100%;
  }
}

.left h4{
  font-size:18px;
  color:#FF6A13;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 5px;
}

.left p{
color: #333;
font-family: sans-serif;
line-height: 1.3;
font-size: 14px;
}

.left img{
  padding-right: 7px;
}

.flex{
  display: flex;
}


.stage5{
  background-color: #000000;
  height: 300px;
  font-weight: lighter;
}

@media Screen and (max-width:700px) {
  .stage5{
    height: 500px;
  }
 
}



.stage5con{
  display: flex;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
  height: 300px;
  justify-content: center;
  padding: 50px;
}

@media Screen and (max-width:700px) {
  .stage5con{
    display: block;
    padding:50px 20px;
  }
 
}

.stage5con ul{
  list-style-type: none;
}


.stage5con ul li a{
  color: white;
  text-decoration: none;
  padding: 20px 0px;
}

.stage5con h1{
  color: white;
  font-size: 25px;
}






